version: '3'

services:
    express:
        container_name: server-express
        restart: always
        build: .
        ports:
            - '4000:3000'
        links:
            - mongo
        volumes:
            - .:/usr/src/app
    mongo:
        container_name: db-mongodb
        image: mongo
        ports:
            - '27017:27017'
